<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/tests" />
        <option value="$PROJECT_DIR$/tests" />
        <option value="$PROJECT_DIR$/tests" />
        <option value="$PROJECT_DIR$/tests" />
        <option value="/Applications/MAMP/htdocs/I425/NEWM-N425_Group-4/tests" />
      </list>
    </option>
  </component>
</project>